
<table id="cartContentTable" class="table">
    <thead>
        <tr>
            <td></td>
            <td><strong>Product</strong></td>
            <td><strong>Price</strong></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <td><img src="{{_id.thumbnail}}" style="width: 5rem;" alt="no image"></td>
            <td>{{_id.title}}</td>
            <td>{{_id.price}}</td>
            <td>

                <button class="btn btn-danger delete-btn" id="deleteBtn{{_id._id}}">Delete</button>
            </td>
        {{/each}}
    </tbody>
</table>

