<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="text-center">
      <h1>Chat</h1>
    </div>
      <div id="messageLogs" class="w-75">
        {{#each messages}}
          <div>{{this.user}}: {{this.message}}</div>
        {{/each}}
      </div>
    <div class="input-group  mb-3">
      <input id="chatbox" type="text" class="form-control col-8  " placeholder="Type your message">
        <button id="sendButton" class="btn btn-outline-success col-4 " type="button">Send</button>
    </div>
  </div>
<script src="socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>