<h1>Upload Page</h1>
<form action='/api/users/{{uid}}/documents' method='post' enctype='multipart/form-data' class="fileForm">
  <label for='fileType'>Select File Type:</label>
  <select name='fileType' id='fileType'>
    <option value='profileImage'>Profile Image</option>
    <option value='productImage'>Product Image</option>
    <option value='document'>Document</option>
  </select>
  <input type='file' name='file' accept='image/*,.pdf,.doc,.docx,.txt,.jpg, '> 
  <button type='submit'>Upload File</button>
</form>
{{!-- <script src="/js/upload.js"></script> --}}