<h1>Upload Page</h1>

<form class="fileForm" action="/api/users/{{uid}}/documents" method="post" enctype="multipart/form-data">
<ul>
  <li>
<label for='fileType'>Profile ID:</label>
<input type='file' name='profileImage' > 
  </li>
  <li>
    <label for='fileType'>Account Detail:</label>
<input type='file' name='productImage' > 
  </li>
  <li>
<label for='fileType'>Home Adress:</label>
<input type='file' name='document' > 
  </li>
</ul>
</form>
