<img src="/images/icarus_Logo.png" alt="Big Logo" style="max-width: 100%; height: auto; display: block; margin: 0 auto;">

  <div style="text-align: center;">
    <h1>Welcome to Icarus Gaming!</h1>

    <p>We offer a wide range of games and collectibles for all ages.</p>
  </div>
<div style="text-align: center;">
    <h3>Home</h3>
    <a class="btn btn-outline-success" href="/products" role="button">Product List</a>
  </div>

