<h3>password Reset Mail </h3>
<h4>please enter your email</h4>
    <form action="/passwordResetMail" method="post"class="col-md-5 mb-3">
        <label for="email"class="form-label">Enter your email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <button type="submit"class="btn btn-outline-success">Reset Password</button>
    </form>