<h3>password Reset </h3>
<form action="/passwordReset" method="post" class="password-reset-form">
<div class="col-md-5 mb-3">
        <label for="email" class="form-label">Password Reset for Email:</label>
        <input type="email" class="form-control" name="email" id="email" value="{{ email }}" readonly>
    </div>
        <div class="col-md-5 mb-3">
            <label for="password" class="form-label">New Password:</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div class="col-md-5 mb-3">
            <label for="passwordconfirmation" class="form-label">Confirm New Password:</label>
            <input type="password" class="form-control" name="passwordconfirmation" id="passwordconfirmation" required>
        </div>
        <button type="submit" class="btn btn-outline-success">Change Password</button>
    </form>
    <script src="/js/password.js"></script>